body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.header {
  display: flex;
  flex: 0;
  font-size: 3.2em;
  /* Размер текста */
  text-align: center;
  /* Выравнивание по центру */
  padding: 5px;
  /* Отступы вокруг текста */
  background: #521e5f;
  /* Цвет фона шапки */
  color: #000000;
  /* Цвет текста */
  width: 100%;
  height: 1500px;
}
.img {
  position: absolute;
  right: 70px;
  top: 20px;
  background-color: #521e5f;
}
.sidebar-and-container {
  display: flex;
  flex-direction: row;
  
}
.sidebar {
  width: 150px;
  /* Ширина слоя */
  padding: 0 10px;
  /* Отступы вокруг текста */
  float: left;
  /* Обтекание по правому краю */
  background-color: #86ee82;
  height: 200px;
}
.container {
  display: flex;
  width: 50%;
  padding: 10px;
}
.footer {
  display: flex;
  flex: 1;
  margin-top: 600px;
  height: 100px;
  width: 100%;
  background: #1bacf0;
  color: #fff;
  padding: 50px  50% 0 50%;
  clear: left;
  text-align: center;
}
.sidebar-menu li {
  position: relative;
  cursor: pointer;
}
.button {
  background-color: green;
  width: 70%;
}
.HeaderLink {
  text-decoration: none;
  color: honeydew;
}
